#div-1 {
    background-color: green;
    display: inline; /* occupy whole line - occupy the whole space entire width and height */
}

#span-1 {
    background-color: purple;
    display: inline-block;
    height: 200px; /* if inline block height will show */
     /* if inline - no changes as inline can't be control with their sizes 
     if inline-block - sizes are affected
     */
}

#div-2 {
    background-color: hotpink;
    display: none;
}

#span-2 {
    background-color: red;
    display: block;
}

#img {
    width: 250px;
    height: 250px;
    display: inline-block; /* default for image */
}

#p-1 {
    background-color: #87cefa;
}

#p-2 {
    width: 60%;
    background-color: rgb(255, 105, 180);
}

#p-3 {
    width: 40%;
    background-color: yellow;
}

.sample {
    display: inline-block;
    width: 30%;
    border: 1px solid salmon;
    text-align: center;
}

.img-float {
    width: 250px;
    height: 250px;
    float: inherit;
}

.box {
    background-color: salmon;
    border: 1px solid blanchedalmond;
    margin: 5px;
}

.fifty-percent {
    width: 50%;
}

.one-hundred-pixels {
    width: 100px;
}

.parent {
    width: 135px;
    border: 2px solid navy;
    font-size: 30px;
}

.fifty-vw {
    width: 50vw;
}

.twenty-five-vh {
    height: 25vh;
}

/*
 % will base on parent
 viewport base on html/screen
*/

.one-rem { /* base on html document */
    font-size: 1rem;
}

.one-em { /* base on parent tag*/
    font-size: 1em;
}

.two-rem {
    font-size: 2rem;
}

.two-em { 
    font-size: 2em;
}

 /* same behavior with em inside a parent */
.two-hundred-percent {
    font-size: 200%;
}

.background {
    min-height: 20rem;
    /* background-color: gray; */
    /* background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg); */

    background-image: url("https://cutewallpaper.org/22/your-name-aesthetic-desktop-wallpapers/2954230375.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;
}

.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
}


.parent-element {
    background-color: skyblue;
    padding: 10px;
    position: relative;
    height: 100vh;
}

.child-one {
    background-color: gray;
    padding: 10px;
}

/* 
sticky - stick until parents is displayed in the screen
fixed - not gonna go away
*/

.child-two {
    background-color: yellow;
    padding: 10px;
    position: sticky;
    top: 10px;
}
.child-three {
    background-color: gray;
    padding: 10px;
}

.container {
    position: relative;
}

.black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
}

.gray-box {
    position: absolute;
    z-index: 3;
    border: 2px solid gray;
    background: lightgray;
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;
}

.green-box {
    position: absolute;
    z-index: 2;
    background: lightgreen;
    border: 2px solid black;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
}