* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    margin: 0 auto;
    /* padding-bottom: 65px; */
    background-color: white;
    border-bottom: 2px solid rgba(51, 101, 137, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
}

nav ul {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 25px;

}

nav .nav-logo,
nav .right-nav .nav {
    display: inline;
}

nav .nav-logo {
    /* position: absolute; */
    float: left;
}

nav .right-nav .nav {
    margin-left: 24px;
}

nav .right-nav {
    float: right;
}

.tuitt-button,
.apply-button{
    color: #fff;
    background-color: #c2195b;
    padding: 12px;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 25px;
}

#bg-image {
    
    margin-top: 65px;
    min-height: 25rem;
    background-size: 100%;
    background-position: center center;
    background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
}

.front-bg {
    float: right;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    height: 25rem;
}

.front-bg .container {
    float: right;
    text-align: right;
    margin-right: 10%;
    margin-left: 60%;
    position: relative;
}

.front-bg .container .subtitle {
    font-weight: lighter;
    margin-top: 10px;
    padding-top: 20px;
    line-height: 2.4rem;
}

.front-bg .container .apply-button {
    margin-top: 50px;
    padding-left: 36px;
    padding-right: 36px;
}

.title,
.title-2 {
    font-family: 'Zilla Slab', serif;
}

.title {
    font-size: 34px;
}

.title-2 {
    padding-bottom: 50px;
    text-align: center ;
}

.intro {
    width: 80%;
    margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 85px;
}

.pre-footer {
    background-color: #f7fbfb;
    padding-top: 85px;
    text-align: center;
}

.pre-footer .prefooter-description {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

footer {
    margin: 0 auto;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.book-button {
    color: #fff;
    background-color: #336589;
    padding: 12px;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 36px;
    padding-right: 36px;
}






